body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

::selection{
	background: #f48fb1;
}

.menu_cll{
  display: none;
}

h6, h5{
	font-weight: bold;
}

@media only screen and (max-width: 991px){
  .menu{
    display: none;
  }

  .menu_cll{
    display: block;
  }
}

.logo-nome{
	display: inline-block; 
	color: #e91e63; 
	text-shadow: -2px -1px #000; 
	font-size: 35px; 
	font-family: 'Poiret One', cursive;
}

.logo-sub{
	position: relative;
	display: inline-block; 
	top: 20px; 
	right: 75px; 
	color: #000;
	text-shadow: 1px 1px #000; 
	font-size: 15px; 	
}